<section class='about'>

    <div class='page-text'>
        <h2>A Better World is Possible</h2>
        <p>
            We are currently existing in a time where infighting is not an
            option. While the Republican party is gaining power, the Democratic
            party is fighting amongst itself for one single solution that will
            win votes in all areas of the US. This is not realistic. We need to
            trust the constituents to vote for the best cadidate in their local
            communities. We must work together to get money out of democratic
            primaries and prevent national politics from influencing the needs
            of local communitites.
        </p>

        <p>
            This resolution has been created in order to embrace local support
            towards this goal, with the understanding that we know who
            represents our communitites better than those on a national scale
            because we live here. Our hope is that this resolution can be used
            in multiple counties across the US and, eventually, into the hands
            of the Democratic National Committee so show that are against
            outside influence, which has a history of disenfranchising
            grassroots movements thus weakening support for our base.
        </p>
    </div>
</section>