<header>
    <h1><a href='/'>Fair Primaries</a></h1>
    <nav>
        <ul class='headerList'>
            <li><button>
                    <a href='/resolution' class='btn'>
                        Resolution
                    </a></button></li>
        </ul>
    </nav>
</header>