<header>
    <h1><a href='/'>Leftist Unity</a></h1>
    <nav>
        <ul class='headerList'>
            <li><button>Resolution</button></li>
            <li><button>Contact</button></li>
        </ul>
    </nav>
</header>