<header>
    <h1><a href='/'>Leftist Unity</a></h1>
    <nav>
        <ul class='headerList'>
            <li><button>
                    <a href='/resolution' class='btn'>
                        Resolution
                    </a></button></li>
            <li><button>
                    <a href='/Citations' class='btn'>
                        Citations
                    </a></button></li>
        </ul>
    </nav>
</header>