<section class='resolution-doc'>

    <div class='page-text'>

        <iframe
            src='https://docs.google.com/document/d/1f2YyognZrHKo0lGBiV2yMNW2Ojl0IG6gaNihURMxBsA/edit?embedded=true'
            width='640'
            height='718'
            frameborder='0'
            marginheight='0'
            marginwidth='0'
        >Loading…</iframe>
    </div>
</section>