<section class='resolution-doc'>

    <div class='page-text'>

        <iframe
            src='../../public/assets/Resolution.pdf'
            width='640'
            height='718'
            frameborder='0'
            marginheight='0'
            marginwidth='0'
        >loading...</iframe>
    </div>
</section>